@{
    ViewData["Title"] = "Home Page";
}

<a href="https://read.lami.fun/inter/download/file?bid=q17ya6&did=3707" title="Pride and Prejudice">
    <img alt="Pride and Prejudice" src="https://images.penguinrandomhouse.com/cover/9780451479914" height="300" width="200">
</a>

<a href="https://read.lami.fun/inter/download/file?bid=n1lid3&did=3713" title="Great Expectations">
    <img alt="Great Expectations" src="https://prodimage.images-bn.com/pimages/9781402766459_p0_v1_s550x406.jpg" height="300" width="200">
</a>

<a href="https://read.lami.fun/inter/download/file?bid=zit46m&did=2497" title="The Pickwick Papers">
    <img alt="The Pickwick Papers" src="https://images-na.ssl-images-amazon.com/images/I/51dn%2BmAORYL._SX346_BO1,204,203,200_.jpg" height="300" width="200">
</a>

<a href="https://read.lami.fun/inter/download/file?bid=0jfh4t&did=2495" title="Little Dorrit">
    <img alt="Little Dorrit" src="https://images-na.ssl-images-amazon.com/images/I/61tzPAzg5SL.jpg" height="300" width="200">
</a>

<a href="https://read.lami.fun/inter/download/file?bid=st9o5b&did=4037" title="雨天的书">
    <img alt="雨天的书" src="https://a0.att.hudong.com/66/65/01300000206900123047650343733_s.jpg" height="300" width="200">
</a>

<a href="https://read.lami.fun/inter/download/file?bid=6t23bi&did=3993" title="The Seven Poor Travellers">
    <img alt="The Seven Poor Travellers" src="https://prodimage.images-bn.com/pimages/2940161104521_p0_v1_s1200x630.jpg" height="300" width="200">
</a>

<a href="https://read.lami.fun/inter/download/file?bid=xidnzu&did=2501" title="Bleak House">
    <img alt="Bleak House" src="https://cdn.lami.fun/read/pic/covers/x/i/xidnzu_m.jpg" height="300" width="200">
</a>

<a href="https://read.lami.fun/inter/download/file?bid=3yaoq4&did=4347" title="梦中缘">
    <img alt="梦中缘" src="https://www.mingqingxiaoshuo.com/d/file/460db340446679e8b8743f978bc88f9e.jpg" height="300" width="200">
</a>

<a href="https://read.lami.fun/inter/download/file?bid=vsqw22&did=3971" title="Mugby Junction">
    <img alt="Mugby Junction" src="https://cdn.lami.fun/read/pic/covers/v/s/vsqw22_m.jpg" height="300" width="200">
</a>

<a href="https://read.lami.fun/inter/download/file?bid=r4faql&did=3489" title="Oliver Twist">
    <img alt="Oliver Twist" src="https://cdn.lami.fun/read/pic/covers/r/4/r4faql_m.jpg" height="300" width="200">
</a>